@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Pushster&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}

.container-cap{
  margin: 100px 150px;
  text-align: justify;
}

.container-cap h1{
  margin-bottom: 40px;
  text-align: center;
  font-size: 32px;
}

.container-cap h2{
  margin-bottom: 5px;
  font-size: 18px;
}

.container-cap p{
  margin-bottom: 30px;
  font-size: 14px;
  letter-spacing: 1.2px;
}

.container-cap p li, .container-cap li{
  font-weight: bold;
  font-size: 13px;
  margin-left:20px;
}

.container-cap ul{
  margin-bottom: 10px;
}

@media (max-width: 900px){
  .container-cap{
    margin: 50px;
  }
}

@media (max-width: 600px){

  .container-cap h1{
    font-size: 25px;
  }

  .container-cap h2{
    font-size: 15px;
  }
  .container-cap p{
    font-size: 12px;
  }
}